<tr>
  <td><%= link_to info.title, admin_info_path(info) %></td>
  <td><%= info.created_at.strftime('%Y年%m月%d日') %></td>
  <td><%= link_to fa_icon('pencil'), edit_admin_info_path(info) %></td>
  <td><%= link_to fa_icon('trash-o'), admin_info_path(info), method: :delete, data: { confirm: '确认删除?' } %></td>
</tr>