<h1 class="page-header">Dashboard</h1>

<div class="progressDiv">
  <div class="statChartHolder">
      <div class="progress-pie-chart" data-percent="67"><!--Pie Chart -->
          <div class="ppc-progress">
              <div class="ppc-progress-fill"></div>
          </div>
          <div class="ppc-percents">
          <div class="pcc-percents-wrapper">
              <span>%</span>
          </div>
          </div>
      </div><!--End Chart -->
  </div>

  <div class="statRightHolder">
      <ul>
        <li> <h3 class="blue">39.4k</h3> <span>Interactions</span></li>
        <li> <h3 class="purple">1.8k</h3> <span>Posts</span></li>
      </ul>
      <ul class="statsLeft">
        <li><h3 class="yellow">22%</h3> <span>Comments</span></li>
        <li><h3 class="red">37%</h3> <span>Cheers</span></li>
      </ul>
      <ul class="statsRight">
        <li><h3>18%</h3> <span>Tasks</span></li>
        <li><h3>23%</h3> <span>Goals</span></li>
      </ul>
  </div>
</div>

