<div class="row">
  <div class="col-md-6">
    <%= form_with(model: [:admin, @user], local: true) do |f| %>
      <%= render 'admin/shared/error_messages', object: @user %>

      <%= render partial: "f", locals: {f: f} %>

      <%= f.submit '提交', class: "btn btn-primary form-submit", :data => { :"disable-with" => "请稍等..." } %>
    <% end %>
  </div>
</div>
